@font-face {
    font-family: 'ReadexPro';
src: url(../Motostore_res/ReadexPro-Variable.ttf);
}

.head1 {
    position: absolute;
    width: 100vw;
    height: 80px;
    background-color: #000;
    position: fixed;
    right:0vw;
    left: 0vw;
    top: 0vh;
    text-align: center;
    z-index: 10;
}

.bg {
    margin-left: 0vw;
    top: 80px;
    position: absolute;
    right:0vw;
    left: 0vw;
    width: 100%;
    height: 3000px;
    z-index: -10000;
}

.menu{
    width: 260px;
    height: 75px;
    position: absolute;
    left: 50px;
}

.logo_text{
    font-family: 'ReadexPro';
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    top: -17px;
    position: relative;
}

.logo_img{
    position: relative;
    top: 5px;
    width: 70px;
    height: 70px;
}

.call {
    position: absolute;
    right: 13vw;
    top: 2.3vh;
    width: 128px;
    height: 47px;
}

.basement {
    position: fixed;
    width: 100vw;
    bottom: 5vh;
    text-align: center;
    font-family: "ReadexPro";
    color: #555555;
    text-decoration: none;
    text-transform: none;
}

.basement:hover {
    cursor: pointer;
}

.basement:active {
    color: #fff;
}

img.index_link {
    position: relative; 
    margin-top: -25vh;
    left: -15vw;
    width: 640px; 
    height: 494px;
    z-index: -2;
}

img.index_link_text {
    position: relative;
    top: -25vh;
    left: 20vw;
    height: 120px;
    width: 500px;
}